.nav-text {
    margin-left: 150px;
    text-decoration: underline;
    color: #D07373;
    font-family: 'Lexend Peta';
    font-style: normal;
    font-weight:400;
    font-size: 54px;
    line-height: 68px;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.main{
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    background-image: url('lion.jpeg');
    background-repeat: no-repeat;
    background-size:contain;
    width: 1350px;
    height: 700px;
    opacity: 0.5;
}
#process{
    margin-top: 2vw;
    width: 100%;
    position: relative;
    filter: opacity(0.9)  drop-shadow(0 0 0 rgba(179, 154, 120, 0.848));
    background-image: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.btn{
    margin-left: 26vw;
    font-weight: 400;
    background-color:rgba(141, 121, 95, 0.848);
}

.form_card{
    margin-left: 200px;
    border-radius: 8px;
    background-color: transparent;
    padding: 10px;
}